body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}
header{
    background: rgba(255, 255, 255, 0.71);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    display: flex;
    height: 46px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
}
#normal a{
    text-decoration: none;
    color: var(--dark-grey, #2D2D2D);
    background-color: #FFFFFF;
    height: 46px;
    padding: 20px 20px;
}
#normal a:hover{
    color: #FFFFFF;
    background-color: var(--dark-purple, #4A2D6B);
}
#normal .action{
    padding: 20px 30px;
    border-radius: 60px;
    background: var(--dark-purple, #4A2D6B);
    color: #FFFFFF;
    margin: 0 auto;
}
.sidenav{
    display: block;
    height: 100vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #FFFFFF; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    color: var(--dark-grey, #2D2D2D);
    /* titles/h5 */
    font-family: "Segoe UI";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 26px */
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.sidenav .line{
    width: 221px;
    height: 1px;
    background: #353A56;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
    /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #353A56;
}

    /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    display: flex;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .action{
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 60px;
    background: var(--dark-purple, #4A2D6B);
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
    margin: 0 15%;
}
