/*colors*/
:root {
    @media (prefers-color-scheme: light) {
        --text: rgb(70, 42, 47);
        --background: rgb(133, 121, 187);
        --primary: rgb(12, 0, 66);
        --primary20: rgba(12, 0, 66, 0.2);
        --primary40: rgba(12, 0, 66, 0.4);
        --primary60: rgba(12, 0, 66, 0.6);
        --primary80: rgba(12, 0, 66, 0.8);
        --secondary: rgb(255, 210, 97);
        --secondary20: rgba(255, 210, 97, 0.2);
        --secondary40: rgba(255, 210, 97, 0.4);
        --secondary60: rgba(255, 210, 97, 0.6);
        --secondary80: rgba(255, 210, 97, 0.8);
        --accent: rgb(21, 8, 59);
        --accent20: rgba(21, 8, 59, 0.2);
        --accent40: rgba(21, 8, 59, 0.4);
        --accent60: rgba(21, 8, 59, 0.6);
        --accent80: rgba(21, 8, 59, 0.8);
        --header: var(--secondary80);
    }

    @media (prefers-color-scheme: dark){
        --text: rgb(213, 185, 190);
        --background:rgb(12, 0, 66);
        --primary: rgb(133, 121, 187);
        --primary20: rgba(133, 121, 187, 0.2);
        --primary40: rgba(133, 121, 187, 0.4);
        --primary60: rgba(133, 121, 187, 0.6);
        --primary80: rgba(133, 121, 187, 0.8);
        --secondary: rgb(33, 8, 28);
        --secondary20: rgba(33, 8, 28, 0.2);
        --secondary40: rgba(33, 8, 28, 0.4);
        --secondary60: rgba(33, 8, 28, 0.6);
        --secondary80: rgba(33, 8, 28, 0.8);
        --accent: rgb(255, 252, 155);
        --accent20: rgba(255, 252, 155, 0.2);
        --accent40: rgba(255, 252, 155, 0.4);
        --accent60: rgba(255, 252, 155, 0.6);
        --accent80: rgba(255, 252, 155, 0.8);
        --header: var(--secondary80);
    }

    --shadow : rgba(0, 0, 0, 0.25);
}

/*text sizes*/
h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 100%; 
    font-family: "Syne Mono", sans-serif;
    margin: 0;
    
}
h2{
    font-size: 36px;
    font-weight: bold;
    line-height: 100%; 
    padding-top: 5%;
    font-family: "Syne Mono", sans-serif;
    margin: 0;

}
h3{
    font-size: 34px;
    font-weight: bold;
    line-height: 100%; /* 36px */
    font-family: "Syne Mono", sans-serif;
    margin: 0;
}
h4{
    font-size: 32px;
    font-weight: bold;
    line-height: 100%; /* 22px */
    font-family: "Syne Mono", sans-serif;
    margin: 0;
}
h5{
    font-size: 30px;
    font-weight: bold;
    line-height: 100%; /* 20px */
    font-family: "Syne Mono", sans-serif;
}
h6{
    font-size: 24px;
    font-weight: bold;
    line-height: 100%; /* 18px */
    font-family: "Syne Mono", sans-serif;
}

.big{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    font-family: "Space Grotesk", sans-serif;
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    font-family: "Space Grotesk", sans-serif;
}
.small{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    font-family: "Space Grotesk", sans-serif;
}

a{
    text-decoration: none;
    color: var(--text);
}

/* Styles*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/back.gif');
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 44px;
    flex-shrink: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    box-shadow: 0px 5px 10px 0px var(--shadow);
    backdrop-filter: blur(1px);
    height: 64px;
    padding: 0 20px;
    box-sizing: border-box;
}

nav{
    align-items: center;
    
}

.nav-link {
    cursor: pointer;
    color: var(--text);
    font-family: "Syne Mono", sans-serif;
    font-weight: bold;
    gap: 10px;
}

.nav-link:hover {
    color: var(--secondary);
    background-color: var(--text);
}

.footer{
    color: var(--text);
}

footer a{
    color:var(--secondary);
    text-decoration: none;
}

.reverse{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    color:transparent;
}

.hero-text{
    color:var(--primary);
}
.hero img{
    width: 100%;
}

.extra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.more{
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.container {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.dot {
    position: relative;
    width: fit-content;
    background: radial-gradient(circle, var(--primary) 0%, var(--background) 100%);
    border-radius: 40px;
    width: 20px;
    height: 20px;
}

.heartbeat {
    position: absolute;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 40px;
    width:20px;
    height: 20px;
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.reseaux{
    margin-top:15px;
    gap:10px;
    display: flex;
    height:auto;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--accent80);
}
.reseaux h3{
    color: var(--background);
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.btn-lien {
    border-radius: 10px;
    background: var(--secondary);
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    align-content: center;
}

.values{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color:var(--accent);
    background: var(--primary20);
    width:100%;
}
.values-container,.competences-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}
.value,.competence{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 100%;
    height: auto;
    text-align: center;
}
.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background-color: var(--secondary);
    color:var(--primary)
}
.competence h2{
    color: var(--primary);
    text-align: center;
}
.icon{
    width: 100px;
    height: 100px;
}
.projets{
    color:var(--primary);
    display: flex;
    padding: 40px 39px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}
#search-box{
    border-radius: 4px;
    border: 2px solid var(--accent);
    background: var(--header);
    display: flex;
    color: var(--accent60);
    padding: 12px;
    justify-content: center;
    align-items: center;
}

#results-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    align-self: stretch;
}

.cardLeft, .cardRight{
    color:var(--secondary)
}
.insideCardLeft h3, .insideCardRight h3{
    margin: 0;
}

.tag{
    border-radius: 10px;
    background: var(--secondary);
    color: var(--accent);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contact{
    color:var(--text);
    background-color: var(--secondary);
}
.contact p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self:center;
    gap: 15px;
}

.contact-btn{
    border-radius: 10px;
    background:var(--text);
    color: var(--secondary);
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact{
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

/* Styles pour les écrans mobile */
@media (max-width: 999px) {
    header {
        flex-shrink: 0;
    }
    

    nav {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        width: 0px;
        height: 100vh;
        padding: 2px 10px 319px 10px;
        flex-direction: column;
        background: var(--secondary);
        display: none;
        gap: 30px;
    }

    .nav-link {
        display: flex;
        padding: 10px;
        align-items: center;
        align-self: stretch;
        font-size: 34px;
        
    }

    #close {
        align-self: flex-end;
        padding: 10px;
        cursor: pointer;
    }

    


    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
    }

    .line {
        width: calc(100% - 20px); /* Add padding to avoid touching the edges */
        height: 1px;
        background: var(--text);
        margin: 0 10px; /* Add margin to center the line */
    }
    .button {
        display: flex;
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--text);
        color: var(--text);
        text-align: center;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--secondary);
        font-family: "Syne Mono";
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
        width: calc(100% - 40px); /* Add padding to avoid touching the edges */
        box-sizing: border-box;
        margin: 0 20px; /* Add margin to center the button */
    }

    footer{
        display: flex;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
    }
    .footer{
        display: flex;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        flex: 1 0 0;
    }
    .footer p{
        color: var(--text);
        text-align: center;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; /* 100% */
    }
    .footer-bunny{
        color: var(--primary);
        font-family: "Segoe UI";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
        letter-spacing: -2.24px;
    }
    .hidden-bunny{
        color: var(--primary);
        text-align: center;
        font-family: "Segoe UI";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 104.167% */
        letter-spacing: -4.8px;
    }

    .content{
        flex-shrink: 0;
        width: 100%;
        height: auto;
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        background-color: var(--background);
    }

    .hero{
        display: flex;
        padding: 30px 18px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
    }

    .cardRight, .cardLeft{
        display: flex;
        padding: 15px 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        gap: 10px;
        background: var(--accent);
    }

    .insideCardLeft, .insideCardRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        text-align: center;
    }

    .insideCardLeft p, .insideCardRight p{
        margin: 20px;
    }

    .tags{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    
}

/* Styles pour les écrans desktop */
@media (min-width: 1000px) {
    

    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: relative;
        background: none;
        height: auto;
    }

    .nav-link {
        display: inline-block;
        padding: 10px 15px;
        font-size: 24px;
    }

    .nav-link:hover {
        color: var(--background);
        background-color: var(--text);
    }

    #close {
        display: none;
    }

    .line {
        display: none;
    }

    .burger {
        display: none;
    }

    .button {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--text);
        color : var(--secondary);
        text-align: center;
        font-family: "Syne Mono";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -1.7px;
    }
    footer{
        display: flex;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
    }
    .footer{
        display: flex;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        flex: 1 0 0;
    }
    .footer p{
        color: var(--text);
        text-align: center;
        /* paragraphes/big */
        font-family: "Space Grotesk";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
    }
    .footer-bunny{
        color: var(--primary);
        font-family: "Segoe UI";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px; /* 125% */
        letter-spacing: -4.48px;
        margin: 0;
    }
    .hidden-bunny{
        color: var(--primary);
        text-align: center;
        font-family: "Segoe UI";
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 110px; /* 114.583% */
        letter-spacing: -9.6px;
    }

    .hero{
        display: flex;
        padding: 5% 5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        gap: 15px;
    }

    .hero-image{
        /* Moves the image after the text in the flex container */
        order: 2;
    }
    .hero-text{
        /* Moves the text before the image in the flex container */
        order: 1;
    }

    .content{
        display: flex;
        margin: 0% 10%;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        background: var(--background);
    }
    .competences-container,.values-container{
        margin: 0 50px;
    }
    .values,.competences, .contact {
        padding: 30px 0;
    }
    

    .cardLeft, .cardRight{
        display: flex;
        padding: 30px;
        align-items: center;
        gap: 120px;
        flex-shrink: 0;
        border-radius: 15px;
        background: var(--accent);
    }
    .insideCardLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        text-align: left;
    }
    .insideCardRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        flex: 1 0 0;
        text-align: right;
    }
    .insideCardLeft .tags{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
    }
    .insideCardRight .tags{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;
        gap: 10px;
        align-self: stretch;
        flex-wrap: wrap;
    }
}

