.apropos {
    display: flex;
    flex-direction: column;
    color: var(--text);
    padding-top: 10%;
    background-color: var(--bgpage);
}

/* Section titles */
.section-title {
    font-family: "Syne";
    font-size: 36px;
    letter-spacing: -2.88px;
    text-align: center;
    color: var(--titles);
    margin: 0;
}

/* Mes valeurs section */
.sectionA {
    background-color: var(--bgpage);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    padding: 32px 64px;
}
.sectionB {
    background-color: var(--bgaccent);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    padding: 32px 64px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    gap: 5px;
}

.label {
    font-family: "Space Grotesk";
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: var(--titles);
    margin: 0;
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    filter: var(--filter);
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}
