.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 10px 10px 10px;
    background-color: var(--bgpage);
    color:var(--text);
    width: auto;
    top:0;
    gap: 60px;
}
.homecontentcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;

}
.hometext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    width:50%;
}
.homedetails{
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
}

.homeimg{
    display: flex;
    height: 280px;
    width: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.homelogocontent{
    width: 100%;
    height: 100%;
    color: var(--titles);
}
.hometitre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}
.hometitre h1{
    margin: 0;
    font-family: "Syne";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 96px */
    letter-spacing: -4.8px;
    color: var(--titles);
    text-align: left;
    width:100%;
}
.hometitre h2{
    margin: 0;
    font-family: "Syne";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    letter-spacing: -2px;
    text-align: left;
    color: var(--titles);
    width:100%;
}
.highlight{
    color: var(--accenttext);
}
.homecontent{
    padding: 0 40px;
    color:var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-shrink: 0;
    align-self: stretch;
}
.homecontent p{
    margin: 0;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    text-align: center;
    
}

.btnprojets{
    background-color: var(--btnbg);
    color: var(--btntext);
    border-radius: 24px;
    box-shadow: var(--glasseffectbtn);
    display: flex;
    padding: 30px 166px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: "Syne Mono";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.7px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btnprojets:hover{
    filter: brightness(1.1);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

.btnprojets:active{
    transform: translateY(2px);
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}
.homedetailscontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    gap: 20px;
}
.homedetailscontainer svg{
    width: 24px;
    height: 30px;
    fill: var(--titles);
}
.homedetailsinfo div{
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    flex-direction: row;
}

.availability, .location {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
.ellipse{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--gradient);
}
.homedetailsinfo p{
    margin: 0;
    text-align: center;
    /* titles/h5 */
    font-family: "Syne Mono";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    letter-spacing: -1.5px;
    color: var(--text);
}

.locationicon {
    width: 24px;
    height: 30px;
    flex-shrink: 0;
}
.homedetailslinks{
    display: flex;
    padding: 15px 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 10px;
    background: var(--bgaccent);
    gap: 15px;
}
.homedetailslinkstext p{
    margin: 0;
    font-family: "Syne Mono";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 34px */
    letter-spacing: -1.7px;
    color: var(--text);
    text-align: center;
}

.homedetailslinksbtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btnlien{
    display: flex;
    width: 100px;
    height: 76px;
    padding: 10px 10px 10px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--text);
}

.btnlien:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.btnlien:active {
    transform: scale(0.95);
}

.btnlien svg {
    width: 40px;
    height: 40px;
    color: var(--dark);
    fill: var(--dark);
}