:root{
    --beige: #DFD9B9;
    --beige80: #dfd9b980;
    --blue: #2C1E74;
    --blue80: #2c1e7480;
    --dark: #050E3C;
    --light: #FCE5CF;
    --pink: #A0305F;
    --pink95: #a0305fe3;
    --orange: #D58863;
    --orange95: #d58763e3;
    --bg-image: url('../images/background.gif');
    --glasseffectbtn: -4px -4px 10px 0 rgba(255, 255, 255, 0.22) inset, 4px 4px 10px 0 rgba(255, 255, 255, 0.22) inset;
    --glassshadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --glassblur: blur(3.1px);
    cursor:url('../icons/Bunny.cur'), auto;

}
body{
    padding: 0;
    margin: 0;
    background-image: var(--bg-image);
	width: 100%;
}
header, footer, main, nav, section, article, aside{
    display: block;
    margin: 0;
    padding: 0;
}

/*header must stay on top*/
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
/*content is under header*/
main{
    z-index: 1;
    position: relative;
    margin-top: -96px;
    margin-right: 10%;
    margin-left: 10%;
	
}

a, a:visited,a:active,a:focus{
    text-decoration: none;
    color: inherit;
}
.overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: rgba(20, 10, 40, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s steps(4);
}
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 90vw;
    max-width: 1500px;
    max-height: 90vh;
    border-radius: 24px 24px 0 0;
    border: 12px solid var(--titles);
    overflow: hidden;
    transform: scale(0.85) translateY(40px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1001;

    transition:
        transform 0.45s cubic-bezier(0.25, 1.4, 0.5, 1),
        opacity 0.3s steps(3);
}

.overlay.active .modal {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.modal::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03) 1px,
        transparent 1px,
        transparent 3px
    );
    pointer-events: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--btnbg);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 24px;
    color: var(--btntext);
    cursor: pointer;
    box-shadow: var(--glasseffectbtn);
    padding: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.close:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}
.close:active {
    transform: translateY(2px);
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}
body.modal-open {
  overflow: hidden;
}
.modal-content {
    padding: 40px;
    overflow-y: auto;
    height: 90vh;
    color: var(--text);
    background-color: var(--bgaccent);
    font-family: "Space Grotesk";
    font-size: 18px;
    line-height: 1.6;
}
/*links in modal content execpt support button*/
.modal-content a:not(.support, .project-info-item a) {
    color: var(--text);
    text-decoration: underline;
}

.modal-header {
    background-color: var(--titles);
    display: flex;
    height: 70px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
.modal-title {
    font-family: "Syne";
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.88px;
    color: var(--bgpage);
    margin: 0;
}

.modal-content button{
    background-color: var(--btnbg);
    color: var(--btntext);
    box-shadow: var(--glasseffectbtn);
    font-family: "Syne";
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.6px;
    padding: 20px 30px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin: 0 auto;
    width: 328px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.modal-content button:hover{
    filter: brightness(1.1);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

.modal-content button:active{
    transform: translateY(2px);
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}

/* Project Info Card Styles */
.project-info-card {
    background-color: var(--text);
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px 15px;
    border-radius: 10px;
    gap: 15px;
    margin-bottom: 30px;
}
.project-head-image {
    width: calc(100% + 80px);
    height: 260px;
    margin:-40px 0px 20px -40px;
    object-fit: cover;
}
.project-image {
    max-width: 400px;
    margin: 20px 0;
}
.project-image img {
    width: 100%;
    height: auto;
}

.project-image-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.project-info-item {
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--bgpage);
    width: 100%;
}

.project-info-item p {
    margin: 0;
    line-height: 1;
}
.project-info-item a {
    color: var(--textaccent);
    text-decoration: underline;
}

.project-group-label {
    margin-bottom: 10px !important;
}

.project-info-item ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.project-info-item ul li {
    margin-bottom: 5px;
    line-height: 1.4;
}

.project-info-item ul li:last-child {
    margin-bottom: 0;
}

.project-tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40px;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project-tag {
    background-color: var(--bgpage);
    color: var(--text);
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 10px;
    border-radius: 24px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.back-to-top {
    display: flex;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    content: var(--arrow);
    padding: 20px;
    border-radius: 50%;
    background: var(--btnbg);
    position: fixed;
    bottom: 10%;
    right: 7%;
    cursor: pointer;
    box-shadow: var(--glasseffectbtn);
    z-index: 50;
    
}

/* light mode */
@media (prefers-color-scheme: light){
    :root{
        --glassmenubar:var(--blue80);
        --menutext:var(--beige);
        --menuhovertext:var(--blue);
        --btnbg:var(--pink95);
        --btntext:var(--light);
        --bgpage:var(--beige);
        --bgaccent:var(--orange);
        --text:var(--dark);
        --titles:var(--blue);
        --accenttext:var(--pink);
        --gradient:radial-gradient(50% 50% at 50% 50%, var(--blue) 0%, var(--dark) 100%);
		--imghome: url('../images/logo-light.png');
		--git: url('../icons/git-light.png');
		--itch: url('../icons/itch-light.png');
		--artstation: url('../icons/art-light.png');
		--linkedin: url('../icons/in-light.png');
		--lieu: url('../icons/lieu-light.png');
        --arrow: url('../icons/arrow-light.png');
        /*filter on images to adapt to light*/
        --filter: brightness(0.8) contrast(1.4);
    }
}
/* dark mode */
@media (prefers-color-scheme: dark){
    :root{
        --glassmenubar:var(--beige80);
        --menutext:var(--blue);
        --menuhovertext:var(--beige);
        --btnbg:var(--orange95);
        --btntext:var(--dark);
        --bgpage:var(--blue);
        --bgaccent:var(--pink);
        --text:var(--light);
        --titles:var(--beige);
        --accenttext:var(--orange);
        --gradient:radial-gradient(50% 50% at 50% 50%, var(--beige) 0%, var(--light) 100%);
		--imghome: url('../images/logo-dark.png');
		--git: url('../icons/git-dark.png');
		--itch: url('../icons/itch-dark.png');
		--artstation: url('../icons/art-dark.png');
		--linkedin: url('../icons/in-dark.png');
		--lieu: url('../icons/lieu-dark.png');
        --arrow: url('../icons/arrow-dark.png');
    }
}